In [17]:
num=12      #n % 2 可以用来判断 n 是否被 2 整除，检测奇，偶数。

if num%2==0: #% 是python 运算符 返回余数
    print("number is even偶数")
else:
    print("the number is odd奇数")

number is even偶数

In [34]:
def 奇偶函数判断(num):
    if num%2==0:
        print("number is even偶数")
    else:
        print("the number is odd奇数")

In [39]:
奇偶函数(9)

the number is odd奇数

In [41]:
#print vs return
def hello_world():
    print("Hello world!")

In [43]:
hello_world()

Hello world!

## #使用return能将执行结果返回到含具体参数的函数中，可以赋值给其它参数，使用print则没有返回值，运算结束后不能调用函数。

In [44]:
abc=hello_world()

Hello world!

In [45]:
print(abc)

None

In [46]:
def Hello_world():
    return "Hello world!!"

In [47]:
abc=Hello_world()

In [48]:
print(abc)

Hello world!!

In [49]:
abc

'Hello world!!'

In [50]:
def multiple_num(num1,num2):
    return num1*num2

In [52]:
abc=multiple_num(10,15)

In [53]:
print(abc)

150

In [64]:
def hello(name,age):
    print("my name is {} and age is {}".format(name,age))

In [65]:
hello('kaier',27)

my name is kaier and age is 27

In [66]:
def Hello(*args,**kargs):#位置参数和关键词参数
    print(args)
    print(kargs)

In [67]:
Hello("Bob","Chen",age=20,birthdate=2000)

('Bob', 'Chen')
{'age': 20, 'birthdate': 2000}

In [68]:
firstarg=["Bob","Chen"]
secondkarg={'age':20,'birthdate':2000}

In [69]:
Hello(firstarg,secondkarg)

(['Bob', 'Chen'], {'age': 20, 'birthdate': 2000})
{}

In [72]:
Hello(*firstarg,**secondkarg)

('Bob', 'Chen')
{'age': 20, 'birthdate': 2000}

In [76]:
## If conditions and for loops 条件和循环

lst=[1,2,3,4,5,6,7,8,9,10]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

30 25

In [79]:
def evenodd_sum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum, odd_sum

In [80]:
evenodd_sum(lst)

(30, 25)

In [81]:
def add(num1,num2):
    return num1+num2

In [82]:
add(2,4)

6

In [87]:
def add_list(lst):
    sum1 =0
    for i in lst:
        print(i)
        sum1=sum1+int(i)
    return sum1

In [88]:
add_list([1,2,3,4,5,6])

1
2
3
4
5
6

21

In [90]:
input_num=list(input("Enter the list  "))

Enter the list  123456789

In [91]:
list(input("enter the list"))#python中的list是列表，是一种数据类型

enter the list123456

['1', '2', '3', '4', '5', '6']

In [92]:
input("enter the list")

enter the list123

'123'

In [93]:
input_num

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [94]:
add_list(input_num)

1
2
3
4
5
6
7
8
9

45

In [1]:
lambda num1,num2:num1+num2

In [2]:
adplus=lambda num1,num2:num1+num2

In [3]:
adplus(1,2)

3

In [4]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [5]:
even(2)

True

In [6]:
even1=lambda num:num%2==0

In [7]:
even1(3)

False

In [8]:
def add(a,b,c):
    return a+b+c

In [9]:
add(7,8,9)

24

In [10]:
add1=lambda a,b,c:a+b+c

In [11]:
add1(1,2,3)

6

In [12]:
def even_odd(num):
    if num%2==0:
        print("the number {} is even".format(num))
    else:
        print("the number {} is odd".format(num))

In [13]:
even_odd(4)

the number 4 is even

In [15]:
lst=[1,2,3,4,5,6,23,25,78]

In [16]:
for i in lst:
    if i%2==0:
        print("the number {} is even".format(i))
    else:
        print("the number {} is odd".format(i))

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 23 is odd
the number 25 is odd
the number 78 is even

In [20]:
for i in lst:even_odd(i)

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 23 is odd
the number 25 is odd
the number 78 is even

In [21]:
map(even_odd,lst)

In [25]:
list(map(even_odd,lst))

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 23 is odd
the number 25 is odd
the number 78 is even

[None, None, None, None, None, None, None, None, None]

In [28]:
#对多个迭代对象使用map()/map(function, iterable, ...)
#map()是一个 Python 内建函数，它允许你不需要使用循环就可以编写简洁的代码。
def multiply(a, b):
    return a * b
 
a = [1, 4, 6]
b = [2, 3, 5]
 
result = map(multiply, a, b)
 
print(list(result))

[2, 12, 30]

In [29]:
a = [1, 4, 6]
b = [2, 3, 5, 7, 8]
 
result = map(lambda x, y: x*y, a, b)
 
print(list(result))

[2, 12, 30]

In [30]:
result=lambda(x, y: x*y)
print(list(result))

SyntaxError: invalid syntax (3008639315.py, line 1)

In [31]:
list(result)

[]

In [32]:
result

In [34]:
a = [1, 4, 6]
b = [2, 3, 5, 7, 8]
print(list(result))

[]