In [11]:
def add(num1,num2):
    return num1+num2

In [12]:
add(3,5)

8

In [13]:
lambda num1,num2:num1+num2

In [14]:
abplus=lambda num1,num2:num1+num2

In [16]:
abplus(1,3)

4

In [39]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [18]:
#描述 Python filter () 函数用于过滤序列，过滤掉不符合条件的元素，返回由符合条件元素组成的新列表。 该接收两个参数，第一个为函数，第二个为序列，序列的每个元素作为参数传递给函数进行判，然后返回 True 或 False，最后将返回 True 的元素放到新列表中。
list(filter(even,lst))

[1, 3, 5, 7, 23, 33]

In [19]:
even1=lambda num:num%2==0

In [22]:
even1(6)

True

In [24]:
def add(a,b,c):
    return a+b+c

In [25]:
add(1,2,3)

6

In [26]:
add1=lambda a,b,c:a+b+c

In [28]:
add1(1,2,3)

6

In [30]:
def even_odd(num):
    if num%2==0:
        return "the number {} is even".format(num)
    else:
        return "the number {} is odd".format(num)

In [31]:
even_odd(23)

'the number 23 is odd'

In [32]:
lst=[1,2,3,4,5,6,7,8,22,23,33]

In [34]:
for i in lst:
    if i%2==0:
        print("the number {} is even".format(i))
    else:
        print("the number {} is odd".format(i))

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 7 is odd
the number 8 is even
the number 22 is even
the number 23 is odd
the number 33 is odd

In [35]:
for i in lst:print(even_odd(i))

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 7 is odd
the number 8 is even
the number 22 is even
the number 23 is odd
the number 33 is odd

In [36]:
map(even_odd,lst)

In [37]:
list(map(even_odd,lst))

['the number 1 is odd',
 'the number 2 is even',
 'the number 3 is odd',
 'the number 4 is even',
 'the number 5 is odd',
 'the number 6 is even',
 'the number 7 is odd',
 'the number 8 is even',
 'the number 22 is even',
 'the number 23 is odd',
 'the number 33 is odd']

In [40]:
list(filter(even,lst))

[2, 4, 6, 8, 22]

In [41]:
list(map(even,lst))

[False, True, False, True, False, True, False, True, True, False, False]

In [42]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, True, False, False]

In [43]:
list(map(lambda x:x, 'human'))

['h', 'u', 'm', 'a', 'n']

In [45]:
letters = list(map(lambda x:x, 'human'))
print(letters)

['h', 'u', 'm', 'a', 'n']

In [49]:
#List /lst=[1,2,3,4,5,6,7,8,22,23,33]
lst1=[]
def lst2x(lst):
    for i in lst:
        lst1.append(i*2)
    return lst1

In [50]:
lst2x(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 44, 46, 66]

In [52]:
lst1

[2, 4, 6, 8, 10, 12, 14, 16, 44, 46, 66]

In [53]:
#List Comprehension
[i*2 for i in lst]

[2, 4, 6, 8, 10, 12, 14, 16, 44, 46, 66]

In [54]:
#List 
lst1=[]
def lst2x(lst):
    for i in lst:
        if i%2==0:
            lst1.append(i*2)#append添加到lst1中
    return lst1

In [55]:
lst2x(lst)

[4, 8, 12, 16, 44]

In [56]:
#List Comprehension
[i*2 for i in lst if i%2==0]

[4, 8, 12, 16, 44]

In [ ]:
#out_list = [out_express for out_express in input_list if out_express_condition] 列表推导式